In [2]:
import numpy as np
import pandas as pd

In [3]:
sales_df=pd.read_csv('miniproject1.csv')

C:\Users\navee\AppData\Local\Temp\ipykernel_14308\2340789330.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df=pd.read_csv('miniproject1.csv')

In [4]:
sales_df.head()

,StoreNo,DayNoinWeek,Date,Sales,Customers,StoreOpen,Promo,StateHoliday,SchoolHoliday
0,1,5,31-07-2021,5263,555,1,1,0,1
1,2,5,31-07-2021,6064,625,1,1,0,1
2,3,5,31-07-2021,8314,821,1,1,0,1
3,4,5,31-07-2021,13995,1498,1,1,0,1
4,5,5,31-07-2021,4822,559,1,1,0,1

In [5]:
store_df=pd.read_csv('miniprojectclothes.csv')

In [6]:
store_df.head()

,StoreNo,ClotheType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,trousers,a,1270.0,9.0,2015.0,0,NaN,NaN,NaN
1,2,shirt,a,570.0,11.0,2014.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,shirt,a,14130.0,12.0,2013.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,trousers,c,620.0,9.0,2016.0,0,NaN,NaN,NaN
4,5,shirt,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
sales_df['StateHoliday'].value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [8]:
sales_df['Date'].unique()

array(['31-07-2021', '30-07-2021', '29-07-2021', '28-07-2021',
       '27-07-2021', '26-07-2021', '25-07-2021', '24-07-2021',
       '23-07-2021', '22-07-2021', '21-07-2021', '20-07-2021',
       '19-07-2021', '18-07-2021', '17-07-2021', '16-07-2021',
       '15-07-2021', '14-07-2021', '13-07-2021', '12-07-2021',
       '11-07-2021', '10-07-2021', '09-07-2021', '08-07-2021',
       '07-07-2021', '06-07-2021', '05-07-2021', '04-07-2021',
       '03-07-2021', '02-07-2021', '01-07-2021', '30-06-2021',
       '29-06-2021', '28-06-2021', '27-06-2021', '26-06-2021',
       '25-06-2021', '24-06-2021', '23-06-2021', '22-06-2021',
       '21-06-2021', '20-06-2021', '19-06-2021', '18-06-2021',
       '17-06-2021', '16-06-2021', '15-06-2021', '14-06-2021',
       '13-06-2021', '12-06-2021', '11-06-2021', '10-06-2021',
       '09-06-2021', '08-06-2021', '07-06-2021', '06-06-2021',
       '05-06-2021', '04-06-2021', '03-06-2021', '02-06-2021',
       '01-06-2021', '31-05-2021', '30-05-2021', '29-05-2021',
       '28-05-2021', '27-05-2021', '26-05-2021', '25-05-2021',
       '24-05-2021', '23-05-2021', '22-05-2021', '21-05-2021',
       '20-05-2021', '19-05-2021', '18-05-2021', '17-05-2021',
       '16-05-2021', '15-05-2021', '14-05-2021', '13-05-2021',
       '12-05-2021', '11-05-2021', '10-05-2021', '09-05-2021',
       '08-05-2021', '07-05-2021', '06-05-2021', '05-05-2021',
       '04-05-2021', '03-05-2021', '02-05-2021', '01-05-2021',
       '30-04-2021', '29-04-2021', '28-04-2021', '27-04-2021',
       '26-04-2021', '25-04-2021', '24-04-2021', '23-04-2021',
       '22-04-2021', '21-04-2021', '20-04-2021', '19-04-2021',
       '18-04-2021', '17-04-2021', '16-04-2021', '15-04-2021',
       '14-04-2021', '13-04-2021', '12-04-2021', '11-04-2021',
       '10-04-2021', '09-04-2021', '08-04-2021', '07-04-2021',
       '06-04-2021', '05-04-2021', '04-04-2021', '03-04-2021',
       '02-04-2021', '01-04-2021', '31-03-2021', '30-03-2021',
       '29-03-2021', '28-03-2021', '27-03-2021', '26-03-2021',
       '25-03-2021', '24-03-2021', '23-03-2021', '22-03-2021',
       '21-03-2021', '20-03-2021', '19-03-2021', '18-03-2021',
       '17-03-2021', '16-03-2021', '15-03-2021', '14-03-2021',
       '13-03-2021', '12-03-2021', '11-03-2021', '10-03-2021',
       '09-03-2021', '08-03-2021', '07-03-2021', '06-03-2021',
       '05-03-2021', '04-03-2021', '03-03-2021', '02-03-2021',
       '01-03-2021', '28-02-2021', '27-02-2021', '26-02-2021',
       '25-02-2021', '24-02-2021', '23-02-2021', '22-02-2021',
       '21-02-2021', '20-02-2021', '19-02-2021', '18-02-2021',
       '17-02-2021', '16-02-2021', '15-02-2021', '14-02-2021',
       '13-02-2021', '12-02-2021', '11-02-2021', '10-02-2021',
       '09-02-2021', '08-02-2021', '07-02-2021', '06-02-2021',
       '05-02-2021', '04-02-2021', '03-02-2021', '02-02-2021',
       '01-02-2021', '31-01-2021', '30-01-2021', '29-01-2021',
       '28-01-2021', '27-01-2021', '26-01-2021', '25-01-2021',
       '24-01-2021', '23-01-2021', '22-01-2021', '21-01-2021',
       '20-01-2021', '19-01-2021', '18-01-2021', '17-01-2021',
       '16-01-2021', '15-01-2021', '14-01-2021', '13-01-2021',
       '12-01-2021', '11-01-2021', '10-01-2021', '09-01-2021',
       '08-01-2021', '07-01-2021', '06-01-2021', '05-01-2021',
       '04-01-2021', '03-01-2021', '02-01-2021', '01-01-2021',
       '31-12-2020', '30-12-2020', '29-12-2020', '28-12-2020',
       '27-12-2020', '26-12-2020', '25-12-2020', '24-12-2020',
       '23-12-2020', '22-12-2020', '21-12-2020', '20-12-2020',
       '19-12-2020', '18-12-2020', '17-12-2020', '16-12-2020',
       '15-12-2020', '14-12-2020', '13-12-2020', '12-12-2020',
       '11-12-2020', '10-12-2020', '09-12-2020', '08-12-2020',
       '07-12-2020', '06-12-2020', '05-12-2020', '04-12-2020',
       '03-12-2020', '02-12-2020', '01-12-2020', '30-11-2020',
       '29-11-2020', '28-11-2020', '27-11-2020', '26-11-2020',
       '25-11-2020', '24-11-2020', '23-11-2020', '22-11-2020',
       '21-11-2020', '20-11-2020', '19-11-2020', '18-11-2020',
       '17-11-2020', '16-11-2020', '15-11-2020', '14-11-2020',
       '13-11-2020', '12-11-2020', '11-11-2020', '10-11-2020',
       '09-11-2020', '08-11-2020', '07-11-2020', '06-11-2020',
       '05-11-2020', '04-11-2020', '03-11-2020', '02-11-2020',
       '01-11-2020', '31-10-2020', '30-10-2020', '29-10-2020',
       '28-10-2020', '27-10-2020', '26-10-2020', '25-10-2020',
       '24-10-2020', '23-10-2020', '22-10-2020', '21-10-2020',
       '20-10-2020', '19-10-2020', '18-10-2020', '17-10-2020',
       '16-10-2020', '15-10-2020', '14-10-2020', '13-10-2020',
       '12-10-2020', '11-10-2020', '10-10-2020', '09-10-2020',
       '08-10-2020', '07-10-2020', '06-10-2020', '05-10-2020',
       '04-10-2020', '03-10-2020', '02-10-2020', '01-10-2020',
       '30-09-2020', '29-09-2020', '28-09-2020', '27-09-2020',
       '26-09-2020', '25-09-2020', '24-09-2020', '23-09-2020',
       '22-09-2020', '21-09-2020', '20-09-2020', '19-09-2020',
       '18-09-2020', '17-09-2020', '16-09-2020', '15-09-2020',
       '14-09-2020', '13-09-2020', '12-09-2020', '11-09-2020',
       '10-09-2020', '09-09-2020', '08-09-2020', '07-09-2020',
       '06-09-2020', '05-09-2020', '04-09-2020', '03-09-2020',
       '02-09-2020', '01-09-2020', '31-08-2020', '30-08-2020',
       '29-08-2020', '28-08-2020', '27-08-2020', '26-08-2020',
       '25-08-2020', '24-08-2020', '23-08-2020', '22-08-2020',
       '21-08-2020', '20-08-2020', '19-08-2020', '18-08-2020',
       '17-08-2020', '16-08-2020', '15-08-2020', '14-08-2020',
       '13-08-2020', '12-08-2020', '11-08-2020', '10-08-2020',
       '09-08-2020', '08-08-2020', '07-08-2020', '06-08-2020',
       '05-08-2020', '04-08-2020', '03-08-2020', '02-08-2020',
       '01-08-2020', '31-07-2020', '30-07-2020', '29-07-2020',
       '28-07-2020', '27-07-2020', '26-07-2020', '25-07-2020',
       '24-07-2020', '23-07-2020', '22-07-2020', '21-07-2020',
       '20-07-2020', '19-07-2020', '18-07-2020', '17-07-2020',
       '16-07-2020', '15-07-2020', '14-07-2020', '13-07-2020',
       '12-07-2020', '11-07-2020', '10-07-2020', '09-07-2020',
       '08-07-2020', '07-07-2020', '06-07-2020', '05-07-2020',
       '04-07-2020', '03-07-2020', '02-07-2020', '01-07-2020',
       '30-06-2020', '29-06-2020', '28-06-2020', '27-06-2020',
       '26-06-2020', '25-06-2020', '24-06-2020', '23-06-2020',
       '22-06-2020', '21-06-2020', '20-06-2020', '19-06-2020',
       '18-06-2020', '17-06-2020', '16-06-2020', '15-06-2020',
       '14-06-2020', '13-06-2020', '12-06-2020', '11-06-2020',
       '10-06-2020', '09-06-2020', '08-06-2020', '07-06-2020',
       '06-06-2020', '05-06-2020', '04-06-2020', '03-06-2020',
       '02-06-2020', '01-06-2020', '31-05-2020', '30-05-2020',
       '29-05-2020', '28-05-2020', '27-05-2020', '26-05-2020',
       '25-05-2020', '24-05-2020', '23-05-2020', '22-05-2020',
       '21-05-2020', '20-05-2020', '19-05-2020', '18-05-2020',
       '17-05-2020', '16-05-2020', '15-05-2020', '14-05-2020',
       '13-05-2020', '12-05-2020', '11-05-2020', '10-05-2020',
       '09-05-2020', '08-05-2020', '07-05-2020', '06-05-2020',
       '05-05-2020', '04-05-2020', '03-05-2020', '02-05-2020',
       '01-05-2020', '30-04-2020', '29-04-2020', '28-04-2020',
       '27-04-2020', '26-04-2020', '25-04-2020', '24-04-2020',
       '23-04-2020', '22-04-2020', '21-04-2020', '20-04-2020',
       '19-04-2020', '18-04-2020', '17-04-2020', '16-04-2020',
       '15-04-2020', '14-04-2020', '13-04-2020', '12-04-2020',
       '11-04-2020', '10-04-2020', '09-04-2020', '08-04-2020',
       '07-04-2020', '06-04-2020', '05-04-2020', '04-04-2020',
       '03-04-2020', '02-04-2020', '01-04-2020', '31-03-2020',
       '30-03-2020', '29-03-2020', '28-03-2020', '27-03-2020',
       '26-03-2020', '25-03-2020', '24-03-2020', '23-03-2020',
       '22-03-2020', '21-03-2020', '20-03-2020', '19-03-2020',
       '18-03-2020', '17-03-2020', '16-03-2020', '15-03-2020',
       '14-03-2020', '13-03-2020', '12-03-2020', '11-03-2020',
       '10-03-2020', '09-03-2020', '08-03-2020', '07-03-2020',
       '06-03-2020', '05-03-2020', '04-03-2020', '03-03-2020',
       '02-03-2020', '01-03-2020', '28-02-2020', '27-02-2020',
       '26-02-2020', '25-02-2020', '24-02-2020', '23-02-2020',
       '22-02-2020', '21-02-2020', '20-02-2020', '19-02-2020',
       '18-02-2020', '17-02-2020', '16-02-2020', '15-02-2020',
       '14-02-2020', '13-02-2020', '12-02-2020', '11-02-2020',
       '10-02-2020', '09-02-2020', '08-02-2020', '07-02-2020',
       '06-02-2020', '05-02-2020', '04-02-2020', '03-02-2020',
       '02-02-2020', '01-02-2020', '31-01-2020', '30-01-2020',
       '29-01-2020', '28-01-2020', '27-01-2020', '26-01-2020',
       '25-01-2020', '24-01-2020', '23-01-2020', '22-01-2020',
       '21-01-2020', '20-01-2020', '19-01-2020', '18-01-2020',
       '17-01-2020', '16-01-2020', '15-01-2020', '14-01-2020',
       '13-01-2020', '12-01-2020', '11-01-2020', '10-01-2020',
       '09-01-2020', '08-01-2020', '07-01-2020', '06-01-2020',
       '05-01-2020', '04-01-2020', '03-01-2020', '02-01-2020',
       '01-01-2020', '31-12-2019', '30-12-2019', '29-12-2019',
       '28-12-2019', '27-12-2019', '26-12-2019', '25-12-2019',
       '24-12-2019', '23-12-2019', '22-12-2019', '21-12-2019',
       '20-12-2019', '19-12-2019', '18-12-2019', '17-12-2019',
       '16-12-2019', '15-12-2019', '14-12-2019', '13-12-2019',
       '12-12-2019', '11-12-2019', '10-12-2019', '09-12-2019',
       '08-12-2019', '07-12-2019', '06-12-2019', '05-12-2019',
       '04-12-2019', '03-12-2019', '02-12-2019', '01-12-2019',
       '30-11-2019', '29-11-2019', '28-11-2019', '27-11-2019',
       '26-11-2019', '25-11-2019', '24-11-2019', '23-11-2019',
       '22-11-2019', '21-11-2019', '20-11-2019', '19-11-2019',
       '18-11-2019', '17-11-2019', '16-11-2019', '15-11-2019',
       '14-11-2019', '13-11-2019', '12-11-2019', '11-11-2019',
       '10-11-2019', '09-11-2019', '08-11-2019', '07-11-2019',
       '06-11-2019', '05-11-2019', '04-11-2019', '03-11-2019',
       '02-11-2019', '01-11-2019', '31-10-2019', '30-10-2019',
       '29-10-2019', '28-10-2019', '27-10-2019', '26-10-2019',
       '25-10-2019', '24-10-2019', '23-10-2019', '22-10-2019',
       '21-10-2019', '20-10-2019', '19-10-2019', '18-10-2019',
       '17-10-2019', '16-10-2019', '15-10-2019', '14-10-2019',
       '13-10-2019', '12-10-2019', '11-10-2019', '10-10-2019',
       '09-10-2019', '08-10-2019', '07-10-2019', '06-10-2019',
       '05-10-2019', '04-10-2019', '03-10-2019', '02-10-2019',
       '01-10-2019', '30-09-2019', '29-09-2019', '28-09-2019',
       '27-09-2019', '26-09-2019', '25-09-2019', '24-09-2019',
       '23-09-2019', '22-09-2019', '21-09-2019', '20-09-2019',
       '19-09-2019', '18-09-2019', '17-09-2019', '16-09-2019',
       '15-09-2019', '14-09-2019', '13-09-2019', '12-09-2019',
       '11-09-2019', '10-09-2019', '09-09-2019', '08-09-2019',
       '07-09-2019', '06-09-2019', '05-09-2019', '04-09-2019',
       '03-09-2019', '02-09-2019', '01-09-2019', '31-08-2019',
       '30-08-2019', '29-08-2019', '28-08-2019', '27-08-2019',
       '26-08-2019', '25-08-2019', '24-08-2019', '23-08-2019',
       '22-08-2019', '21-08-2019', '20-08-2019', '19-08-2019',
       '18-08-2019', '17-08-2019', '16-08-2019', '15-08-2019',
       '14-08-2019', '13-08-2019', '12-08-2019', '11-08-2019',
       '10-08-2019', '09-08-2019', '08-08-2019', '07-08-2019',
       '06-08-2019', '05-08-2019', '04-08-2019', '03-08-2019',
       '02-08-2019', '01-08-2019', '31-07-2019', '30-07-2019',
       '29-07-2019', '28-07-2019', '27-07-2019', '26-07-2019',
       '25-07-2019', '24-07-2019', '23-07-2019', '22-07-2019',
       '21-07-2019', '20-07-2019', '19-07-2019', '18-07-2019',
       '17-07-2019', '16-07-2019', '15-07-2019', '14-07-2019',
       '13-07-2019', '12-07-2019', '11-07-2019', '10-07-2019',
       '09-07-2019', '08-07-2019', '07-07-2019', '06-07-2019',
       '05-07-2019', '04-07-2019', '03-07-2019', '02-07-2019',
       '01-07-2019', '30-06-2019', '29-06-2019', '28-06-2019',
       '27-06-2019', '26-06-2019', '25-06-2019', '24-06-2019',
       '23-06-2019', '22-06-2019', '21-06-2019', '20-06-2019',
       '19-06-2019', '18-06-2019', '17-06-2019', '16-06-2019',
       '15-06-2019', '14-06-2019', '13-06-2019', '12-06-2019',
       '11-06-2019', '10-06-2019', '09-06-2019', '08-06-2019',
       '07-06-2019', '06-06-2019', '05-06-2019', '04-06-2019',
       '03-06-2019', '02-06-2019', '01-06-2019', '31-05-2019',
       '30-05-2019', '29-05-2019', '28-05-2019', '27-05-2019',
       '26-05-2019', '25-05-2019', '24-05-2019', '23-05-2019',
       '22-05-2019', '21-05-2019', '20-05-2019', '19-05-2019',
       '18-05-2019', '17-05-2019', '16-05-2019', '15-05-2019',
       '14-05-2019', '13-05-2019', '12-05-2019', '11-05-2019',
       '10-05-2019', '09-05-2019', '08-05-2019', '07-05-2019',
       '06-05-2019', '05-05-2019', '04-05-2019', '03-05-2019',
       '02-05-2019', '01-05-2019', '30-04-2019', '29-04-2019',
       '28-04-2019', '27-04-2019', '26-04-2019', '25-04-2019',
       '24-04-2019', '23-04-2019', '22-04-2019', '21-04-2019',
       '20-04-2019', '19-04-2019', '18-04-2019', '17-04-2019',
       '16-04-2019', '15-04-2019', '14-04-2019', '13-04-2019',
       '12-04-2019', '11-04-2019', '10-04-2019', '09-04-2019',
       '08-04-2019', '07-04-2019', '06-04-2019', '05-04-2019',
       '04-04-2019', '03-04-2019', '02-04-2019', '01-04-2019',
       '31-03-2019', '30-03-2019', '29-03-2019', '28-03-2019',
       '27-03-2019', '26-03-2019', '25-03-2019', '24-03-2019',
       '23-03-2019', '22-03-2019', '21-03-2019', '20-03-2019',
       '19-03-2019', '18-03-2019', '17-03-2019', '16-03-2019',
       '15-03-2019', '14-03-2019', '13-03-2019', '12-03-2019',
       '11-03-2019', '10-03-2019', '09-03-2019', '08-03-2019',
       '07-03-2019', '06-03-2019', '05-03-2019', '04-03-2019',
       '03-03-2019', '02-03-2019', '01-03-2019', '28-02-2019',
       '27-02-2019', '26-02-2019', '25-02-2019', '24-02-2019',
       '23-02-2019', '22-02-2019', '21-02-2019', '20-02-2019',
       '19-02-2019', '18-02-2019', '17-02-2019', '16-02-2019',
       '15-02-2019', '14-02-2019', '13-02-2019', '12-02-2019',
       '11-02-2019', '10-02-2019', '09-02-2019', '08-02-2019',
       '07-02-2019', '06-02-2019', '05-02-2019', '04-02-2019',
       '03-02-2019', '02-02-2019', '01-02-2019', '31-01-2019',
       '30-01-2019', '29-01-2019', '28-01-2019', '27-01-2019',
       '26-01-2019', '25-01-2019', '24-01-2019', '23-01-2019',
       '22-01-2019', '21-01-2019', '20-01-2019', '19-01-2019',
       '18-01-2019', '17-01-2019', '16-01-2019', '15-01-2019',
       '14-01-2019', '13-01-2019', '12-01-2019', '11-01-2019',
       '10-01-2019', '09-01-2019', '08-01-2019', '07-01-2019',
       '06-01-2019', '05-01-2019', '04-01-2019', '03-01-2019',
       '02-01-2019', '01-01-2019'], dtype=object)

In [9]:
sales_df.isnull().sum()

StoreNo          0
DayNoinWeek      0
Date             0
Sales            0
Customers        0
StoreOpen        0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [10]:
sales_df['SchoolHoliday'] .unique()

array([1, 0], dtype=int64)

In [11]:
store_df.isnull().sum()

StoreNo                        0
ClotheType                     0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [12]:
li = ["DayNoinWeek" , "StateHoliday" , "SchoolHoliday"]

for i in li:
  print(i)
  print(sales_df[i].unique())
  print("-----------------------")

DayNoinWeek
[5 4 3 2 1 7 6]
-----------------------
StateHoliday
['0' 'a' 'b' 'c' 0]
-----------------------
SchoolHoliday
[1 0]
-----------------------

In [13]:
store_df.nunique()

StoreNo                      1115
ClotheType                      4
Assortment                      3
CompetitionDistance           654
CompetitionOpenSinceMonth      12
CompetitionOpenSinceYear       20
Promo2                          2
Promo2SinceWeek                24
Promo2SinceYear                 7
PromoInterval                   3
dtype: int64

In [14]:
store_df['CompetitionDistance'] = store_df['CompetitionDistance'].fillna(0)
store_df['CompetitionOpenSinceMonth'] = store_df['CompetitionOpenSinceMonth'].fillna(0)
store_df['CompetitionOpenSinceYear'] = store_df['CompetitionOpenSinceYear'].fillna(0)
store_df['Promo2SinceWeek'] = store_df['Promo2SinceWeek'].fillna(0)
store_df['Promo2SinceYear'] = store_df['Promo2SinceYear'].fillna(0)
store_df['PromoInterval'] = store_df['PromoInterval'].fillna(0)

In [15]:
store_df.isna().sum()

StoreNo                      0
ClotheType                   0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [16]:
final1=pd.merge(store_df,sales_df,on='StoreNo',how='left')

In [17]:
final1.head()

,StoreNo,ClotheType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayNoinWeek,Date,Sales,Customers,StoreOpen,Promo,StateHoliday,SchoolHoliday
0,1,trousers,a,1270.0,9.0,2015.0,0,0.0,0.0,0,5,31-07-2021,5263,555,1,1,0,1
1,1,trousers,a,1270.0,9.0,2015.0,0,0.0,0.0,0,4,30-07-2021,5020,546,1,1,0,1
2,1,trousers,a,1270.0,9.0,2015.0,0,0.0,0.0,0,3,29-07-2021,4782,523,1,1,0,1
3,1,trousers,a,1270.0,9.0,2015.0,0,0.0,0.0,0,2,28-07-2021,5011,560,1,1,0,1
4,1,trousers,a,1270.0,9.0,2015.0,0,0.0,0.0,0,1,27-07-2021,6102,612,1,1,0,1

In [18]:
#Change data types object to int 
final1.loc[final1['StateHoliday'] == '0', 'StateHoliday'] = 0
final1.loc[final1['StateHoliday'] == 'a', 'StateHoliday'] = 1
final1.loc[final1['StateHoliday'] == 'b', 'StateHoliday'] = 2
final1.loc[final1['StateHoliday'] == 'c', 'StateHoliday'] = 3
#store the value with same column name i.e StateHoliday with function astype
final1['StateHoliday'] = final1['StateHoliday'].astype(int, copy=False)

In [19]:
# change Data Types object into int 
final1.loc[final1['Assortment'] == 'a', 'Assortment'] = 0
final1.loc[final1['Assortment'] == 'b', 'Assortment'] = 1
final1.loc[final1['Assortment'] == 'c', 'Assortment'] = 2
#store the value with same column name i.e Assortment with function astype
final1['Assortment'] = final1['Assortment'].astype(int, copy=False)

In [20]:
# change Data Types object into int 
final1.loc[final1['ClotheType'] == 'shirt', 'ClotheType'] = 0
final1.loc[final1['ClotheType'] == 't-shirt', 'ClotheType'] = 1
final1.loc[final1['ClotheType'] == 'trousers', 'ClotheType'] = 2
final1.loc[final1['ClotheType'] == 'pant', 'ClotheType'] = 3
#store the value with same column name i.e Assortment with function astype
final1['SClotheType'] = final1['ClotheType'].astype(int, copy=False)

In [21]:
print(final1[['StateHoliday', 'Assortment', 'ClotheType']].nunique())

StateHoliday    4
Assortment      3
ClotheType      4
dtype: int64

In [22]:
final1["Sales"].value_counts()

0        172871
5674        215
5558        197
5483        196
6049        195
          ...
18344         1
17685         1
19544         1
18972         1
21237         1
Name: Sales, Length: 21705, dtype: int64

In [23]:
final1['Date'] = pd.to_datetime(final1['Date'], format= '%d-%m-%Y')

In [24]:
final1['CompetitionOpenSinceMonth'] = pd.DatetimeIndex(final1['Date']).month

In [24]:
final1['CompetitionOpenSinceYear']= final1['CompetitionOpenSinceYear'].astype(int)
final1['Promo2SinceYear']= final1['Promo2SinceYear'].astype(int)

In [25]:
# code for change float into integer 
final1['CompetitionDistance']= final1['CompetitionDistance'].astype(int)
final1['Promo2SinceWeek']= final1['Promo2SinceWeek'].astype(int)

In [26]:
final1.describe().apply(lambda x: round(x, 2))

,StoreNo,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,DayNoinWeek,Sales,Customers,StoreOpen,Promo,StateHoliday,SchoolHoliday,SClotheType
count,1017209.00,1017209.00,1017209.00,1017209.00,1017209.00,1017209.0,1017209.00,1017209.00,1017209.0,1017209.00,1017209.00,1017209.00,1017209.00,1017209.00,1017209.00,1017209.00
mean,558.43,0.94,5415.98,5.85,1373.02,0.5,11.65,1007.01,4.0,5773.82,633.15,0.83,0.38,0.05,0.18,1.21
std,321.91,0.99,7710.25,3.33,937.31,0.5,15.32,1005.88,2.0,3849.94,464.41,0.38,0.49,0.28,0.38,1.37
min,1.00,0.00,0.00,1.00,0.00,0.0,0.00,0.00,1.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,280.00,0.00,700.00,3.00,0.00,0.0,0.00,0.00,2.0,3727.00,405.00,1.00,0.00,0.00,0.00,0.00
50%,558.00,0.00,2320.00,6.00,2012.00,1.0,1.00,2009.00,4.0,5744.00,609.00,1.00,0.00,0.00,0.00,0.00
75%,838.00,2.00,6880.00,8.00,2015.00,1.0,22.00,2012.00,6.0,7856.00,837.00,1.00,1.00,0.00,0.00,3.00
max,1115.00,2.00,75860.00,12.00,2019.00,1.0,50.00,2015.00,7.0,41551.00,7388.00,1.00,1.00,3.00,1.00,3.00

In [28]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [29]:
calc_vif(final1[[i for i in final1.describe().columns if i not in ['Sales']]])

                    variables           VIF
0                     StoreNo  3.698803e+00
1                  Assortment  2.045367e+00
2         CompetitionDistance  1.589439e+00
3   CompetitionOpenSinceMonth  3.849031e+00
4    CompetitionOpenSinceYear  2.992983e+00
5                      Promo2  1.575771e+06
6             Promo2SinceWeek  3.998400e+00
7             Promo2SinceYear  1.574733e+06
8                 DayNoinWeek  4.104704e+00
9                   Customers  5.236549e+00
10                  StoreOpen  9.374699e+00
11                      Promo  1.917199e+00
12               StateHoliday  1.187975e+00
13              SchoolHoliday  1.330848e+00
14                SClotheType  1.940269e+00

In [30]:
final1[(final1.StoreOpen == 0) & (final1.Sales == 0)].count()[0]

172817

In [31]:
new_df = final1.drop(final1[(final1.StoreOpen == 0) & (final1.Sales == 0)].index)

In [32]:
new_df = pd.get_dummies(new_df, columns=['PromoInterval'])

In [4]:
new_df=pd.read_csv('cleandata.csv')

In [5]:
# defining dependent variable
dependent_variables = 'Sales'

# defining independent variable
independent_variables = list(new_df.columns.drop(['Promo2SinceYear','Date','Sales']))

In [6]:
# Create the data of independent variables
X = new_df[independent_variables].values

# Create the data of dependent variable
y = new_df[dependent_variables].values

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
import pickle

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [33]:
reg = LinearRegression().fit(X_train, y_train)

In [34]:
y_pred = reg.predict(X_test)

In [35]:
pd.DataFrame(zip(y_test, y_pred), columns = ['actual', 'predicted'])

        actual     predicted
0         6859   7264.142362
1         4066   5786.588018
2         8676   7958.841120
3        10004  10258.835354
4        17697  15734.235323
...        ...           ...
168874    7867   7550.118620
168875    2493   3675.608073
168876    7592   6124.342063
168877    7519   5849.840778
168878    5838   5362.709801

[168879 rows x 2 columns]

In [36]:
modelname='model.pkl'

In [57]:
pickle.dump(reg,open(modelname,'wb'))

In [58]:
loadedmodel=pickle.load(open('model.pkl','rb'))

In [50]:
pred=loadedmodel.predict(X_test)

NameError: name 'loadedmodel' is not defined

In [66]:
from sklearn.metrics import mean_squared_error

In [67]:
MSE  = mean_squared_error(y_test, y_pred)

In [68]:
mse2 = mean_squared_error(y_test,pred)

In [69]:
if (mse2==MSE):
    print(1)

1

In [42]:
len(X_test[1])

19

In [35]:
independent_variables

['StoreNo',
 'ClotheType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'DayNoinWeek',
 'Customers',
 'StoreOpen',
 'Promo',
 'StateHoliday',
 'SchoolHoliday',
 'SClotheType',
 'PromoInterval_0',
 'PromoInterval_Feb,May,Aug,Nov',
 'PromoInterval_Jan,Apr,Jul,Oct',
 'PromoInterval_Mar,Jun,Sept,Dec']

In [11]:
new_df

,StoreNo,ClotheType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,DayNoinWeek,...,Customers,StoreOpen,Promo,StateHoliday,SchoolHoliday,SClotheType,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec"
0,1,2,0,1270,7,2015,0,0,0,5,...,555,1,1,0,1,2,1,0,0,0
1,1,2,0,1270,7,2015,0,0,0,4,...,546,1,1,0,1,2,1,0,0,0
2,1,2,0,1270,7,2015,0,0,0,3,...,523,1,1,0,1,2,1,0,0,0
3,1,2,0,1270,7,2015,0,0,0,2,...,560,1,1,0,1,2,1,0,0,0
4,1,2,0,1270,7,2015,0,0,0,1,...,612,1,1,0,1,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844387,1115,3,2,5350,1,0,1,22,2012,1,...,471,1,1,0,1,3,0,0,0,1
844388,1115,3,2,5350,1,0,1,22,2012,6,...,339,1,0,0,1,3,0,0,0,1
844389,1115,3,2,5350,1,0,1,22,2012,5,...,326,1,0,0,1,3,0,0,0,1
844390,1115,3,2,5350,1,0,1,22,2012,4,...,300,1,0,0,1,3,0,0,0,1
844391,1115,3,2,5350,1,0,1,22,2012,3,...,305,1,0,0,1,3,0,0,0,1

In [12]:
X[844387]

array([1115,    3,    2, 5350,    1,    0,    1,   22,    1,  471,    1,
          1,    0,    1,    3,    0,    0,    0,    1], dtype=int64)